*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

#nav{
  margin: 0;
  /* position: sticky; */
  top: 0;
  z-index: 10;

}


.fa-bars,.fa-arrow-right{
  color: white;
  font-size: 30px !important;
}
.fa-arrow-right{
  color: white;
  font-size: 15px !important;
  padding-left: 1em;
}
.fa-home{
  color: white;
  font-size: 15px !important;
  padding-right: 0.5em;
}
.fa-youtube,.fa-facebook-official,.fa-instagram,.fa-twitter,.fa-whatsapp,.fa-envelope{
  font-size: 24px!important;
  margin-right:10px;
}
footer .fa:hover{
  font-size: 44px!important;

}
.dropdown-item{
  color:black !important;
  font-weight: 600;
}
/* services */
#services{
  padding: 10px;
}


  /* corousel for ads*/
  .logo{
    width: 20%;
    
  }
  nav div ul li a{
    color: white !important;
    font-weight: 600;
  }
  nav div ul li a:hover{
    text-decoration: underline;
  }
  nav div ul li a:active{
    text-decoration: underline;
  }
  .navbar-toggler-icon{
    outline: none !important;
  }


#light{
  color: white;
}
#hero{
  margin: 0;
background-image: linear-gradient(20deg, rgba(14, 6, 12, 0.75) 30%, rgba(17, 10, 14, 0.3) 45%, rgba(8, 8, 8, 0.3) 100%),url(/Assets/img3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-weight: 600;
}
/* testimonials */
.profile{
  display: flex;
  justify-content: center;
  
}
.testimony{
  border-right: 3px solid #198754;
 

}
.profile-img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #198754;
  margin-right: 10px;
}
.profile-name{
  justify-self: center;
  align-self: center;
  font-size: 18px;
  font-weight: 500;
}
.user-testimony{
  text-align: justify;
  padding: 0 10px;
}